version: '3'
services:
  proxy_pool:
    image: proxy_pool:0.1
    build: ./
    restart: on-failure
    volumes:
     - ..:/usr/src/app
    ports:
     - 5010:5010
    links:
#     - proxy_redis
     - proxy_ssdb
    networks:
      - proxy

#  proxy_redis:
#    image: redis:4-alpine
#    restart: on-failure
#    networks:
#      - proxy
  proxy_ssdb:
    restart: on-failure
    image: leobuskin/ssdb-docker
    volumes:
      - ssdb_storage:/ssdb/var
    networks:
      - proxy
networks:
  proxy:
volumes:
  ssdb_storage: